<% if user_signed_in? %>
  <div id='app'>
  </div>
<% else %>
<div class="splash-logged">
  <h2>Indoors</h2>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
</div>
<div id="base-layer" class='back'>
  <div id="layer-one" class="layer">
    <div id="layer-two" class="layer">
      <%= image_tag("plant.png", class: 'plant') %>
      <div id="layer-three" class="layer">
        <div id="layer-four" class="layer">
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
