<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your room is lost without you.</h3>
    <p>
      Your ficus is going to die if you leave it for any longer.

      <a href='http://in-doors.herokuapp.com/'>Water your ficus now.</a>
    </p>
  </body>
</html>
