<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Indoors.</h1>
    <p>
    <a href='http://in-doors.herokuapp.com/'>Check on your room </a>
    </p>
  </body>
</html>
