/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require room_tile
 *= require door_corner
 *= require plant_corner
 *= require clutter_corner
 *= require bed_corner
 */


 /*HEX: #ffef96

  HEX: #50394c

  HEX: #b2b2b2

  HEX: #f4e1d2*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Fira+Mono|Merriweather');
.hidden {
  display: none;
}
body {
  background-color: #f9ecda;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.click:hover {
  cursor:pointer;
}
.room-container {
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 14px;
  position:fixed;
  padding: 5px;
  z-index: 5;
  top: 0;
  background-color: #f9ecda;
  border-bottom: 2px solid black;
  padding-left: 25px;
  padding-right: 25px;
}
.selected {
  font-family: 'Fira Mono', monospace;
  color: black;
  display: block;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  position:absolute;
  z-index: 7;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  left: 0;
  right: 0;
  margin-top: 100px;

}
.active:hover {
  text-decoration: line-through;
}
.Link {
  border: 2px solid black;

}
a {
  color: black;
}

li {
  /*padding-right: 10px;*/
  font-family: 'Fira Mono', monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  /*display: inline;*/
}
hr {
  border-top: 2px solid black;
  margin-top: 25px;
}
h2 {
  font-family: 'Merriweather', serif;
}
h3 {
  font-family: 'Merriweather', serif;
}
h5 {
  font-family: 'Merriweather', serif;
}
