/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .hidden {
  display: none;
}
body {
  background-color: black;
}
.room-container {
  background-color: blue;
  height: 1000px;
}

.bed-tile {
  background-color: white;
  background-image: url("corner1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
.clutter-tile {
  background-color: white;
  background-image: url("corner2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
.plant-tile {
  background-color: white;
  background-image: url("corner3.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
.door-tile {
  background-color: white;
  background-image: url("corner4.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
.bed-img {
  position:absolute;
  margin-left: 115px;
  margin-top: 60px;
}
.window-img {
  position:absolute;
  margin-left: 300px;
  margin-top: -55px;
}
.plant-img {
  position:absolute;
  margin-left: 150px;
  margin-top: -30px;
}
.door-img {
  position:absolute;
  margin-left: 200px;
  margin-top: -56px;
}
.broom-img {
  position:absolute;
  margin-left: 300px;
  margin-top: 60px;
}
