@import "settings";

.bed-tile {
  background-color: white;
  background-image: url("corner1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 5px solid #816535;
}
.bed-img {
  position:absolute;
  margin-left: 121px;
  margin-top: 127px;
}
