@import "settings";

.strange-room-wrapper .clutter-tile {
  background-color: #f2f2f2;
  background-image: url("corner2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 520px;
  height: 390px;
  border: 5px solid #816535;
}
.strange-room-wrapper .cupboard-img {
  position:absolute;
  margin-left: 33px;
  margin-top: 23px;
}
.strange-room-wrapper .chair-img {
  position:absolute;
  margin-left: 313px;
  margin-top: 118px;
}
.strange-room-wrapper .book-img {
  position:absolute;
  margin-left: 90px;
  margin-top: 93px;
}
.strange-room-wrapper .key-img {
  position:absolute;
  margin-left: 125px;
  margin-top: 98px;
}
.key-img:hover {
  -webkit-transition: all 75ms ease;
  -moz-transition: all 75ms ease;
  -ms-transition: all 75ms ease;
  -o-transition: all 75ms ease;
  transition: all 75ms ease;
  transition: all 75ms ease;
  -webkit-filter: drop-shadow(1px 1px 0px #737373);
  filter: drop-shadow(1px 1px 0px #737373);
}
.room-wrapper .clutter-tile {
  background-color: #f2f2f2;
  background-image: url("corner2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 600px;
  height: 450px;
  border: 5px solid #816535;
}
.room-wrapper .cupboard-img {
  position:absolute;
  margin-left: 33px;
  margin-top: 23px;
  width: 183px;
}
.room-wrapper .chair-img {
  position:absolute;
  margin-left: 344px;
  margin-top: 128px;
  width: 82px;
}
.room-wrapper .book-img {
  position:absolute;
  margin-left: 90px;
  margin-top: 105px;
  width: 40px
}
.room-wrapper .key-img {
  position:absolute;
  margin-left: 125px;
  margin-top: 111px;
  width: 30px;
}
