@import "settings";

.layer {
    padding: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.back {
  width: 90%;
  height: 90%;
  padding: 20px;
}
#base-layer {
  margin-left: auto;
  margin-right: auto;
  height:80%;
}
#layer-one {
    background: transparent;
}
#layer-two {
    background: transparent;
}
#layer-three {
    background: transparent;
}

.layer .plant {
  margin-left: 50%;
  margin-top: 100px;
}
