@import "settings";

.key-tile {
  background-color: #f2f2f2;
  // background-image: url("corner4.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 600px;
  height: 450px;
  border: 5px solid #816535;

}
.keyclose-img {
  margin-left: 230px;
  margin-top: 180px;
  width: 125px;
}
.keyclose-img:hover {
  -webkit-transition: all 75ms ease;
  -moz-transition: all 75ms ease;
  -ms-transition: all 75ms ease;
  -o-transition: all 75ms ease;
  transition: all 75ms ease;
  transition: all 75ms ease;
  -webkit-filter: drop-shadow(2px 2px 0px #737373);
  filter: drop-shadow(2px 2px 0px #737373);
}
