@import "settings";

.room-stats {
  position: absolute;
  margin-left: 610px;
}
.room-name {
  color: black;
  padding: 5px 0px 0px 15px;
  padding-bottom: 5px;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-size: 20px;
}
.room-itself {
  display: block;
  margin-left: auto;
  float:left;
}

.status-items {
  border-bottom: 1px solid black;
  padding: 10px 0px 1px 2px;
  font-size: 14px;
  margin-left: 20px;
}
.inventory-title {
  padding: 10px 5px 3px 2px;
  font-size: 16px;
  margin-left: 20px;
  font-family: 'Fira Mono', monospace;
  text-align: right;
}
.inventory {
  margin-top: -2px;
  border: 1px solid black;
  height: 290px;
  width: 290px;
  font-size: 12px;
  margin-left: 20px;
  background: white;
}
.inventory-selected {
  margin-left: 65px;
  margin-top: 40px;
  width: 125px;
}
.room-wrapper {
  margin-top:30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}
.left {
  position: absolute;
  margin-top: 450px;
  font-size: 24px;
}
.left:focus {
  outline:0;
}
.right:focus {
  outline:0;
}
.left:hover {
  -moz-transform: translate(-4px);
  -ms-transform: translate(-4px);
  -o-transform: translate(-4px);
  -webkit-transform: translate(-4px);
  transform: translate(-4px)
}
.right {
  position: absolute;
  margin-top: 450px;
  margin-left: 565px;
  font-size: 24px;
}
.right:hover {
  -moz-transform: translate(4px);
  -ms-transform: translate(4px);
  -o-transform: translate(4px);
  -webkit-transform: translate(4px);
  transform: translate(4px)
}
